<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.mycompany.lightonflashlight" xmlns:tools="http://schemas.android.com/tools">
  <uses-permission android:name="android.permission.INTERNET"/>
  <application
    android:label="Light On - Flashlight"
    tools:replace="android:label"
    android:icon="@mipmap/ic_launcher"
    android:requestLegacyExternalStorage="true"
  >
    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
      <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
      <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme"/>
      <!-- Displays an Android View that continues showing the launch screen
                 Drawable until Flutter paints its first frame, then this splash
                 screen fades out. A splash screen is useful to avoid any visual
                 gap between the end of Android's launch screen and the painting of
                 Flutter's first frame. -->
      <meta-data android:name="io.flutter.embedding.android.SplashScreenDrawable" android:resource="@drawable/launch_background"/>
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <!-- Deep linking -->
      <meta-data android:name="flutter_deeplinking_enabled" android:value="true"/>
      <intent-filter android:autoVerify="true">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="lightonflashlight" android:host="lightonflashlight.com"/>
      </intent-filter>
    </activity>
    <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
    <meta-data android:name="flutterEmbedding" android:value="2"/>
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3228085068090706~2375958262"/>
    <!-- Start of localization support -->
    <!-- 한국어 -->
    <activity-alias android:name=".AliasKorean" android:targetActivity=".MainActivity" android:label="라이트온 - 손전등" android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity-alias>
    <!-- 일본어 -->
    <activity-alias android:name=".AliasJapanese" android:targetActivity=".MainActivity" android:label="ライトオン - 懐中電灯" android:exported="true"/>
    <!-- 중국어 간체 -->
    <activity-alias android:name=".AliasChineseSimplified" android:targetActivity=".MainActivity" android:label="亮灯 - 手电筒" android:exported="true"/>
    <!-- 프랑스어 -->
    <activity-alias android:name=".AliasFrench" android:targetActivity=".MainActivity" android:label="Lumière ON - Lampe de poche torche" android:exported="true"/>
    <!-- 독일어 -->
    <activity-alias android:name=".AliasGerman" android:targetActivity=".MainActivity" android:label="Licht an - Taschenlampe" android:exported="true"/>
    <!-- 스페인어 -->
    <activity-alias android:name=".AliasSpanish" android:targetActivity=".MainActivity" android:label="Luz encendida - Linterna" android:exported="true"/>
    <!-- 러시아어 -->
    <activity-alias android:name=".AliasRussian" android:targetActivity=".MainActivity" android:label="Фонарик" android:exported="true"/>
    <!-- 아랍어 (RTL 언어) -->
    <activity-alias android:name=".AliasArabic" android:targetActivity=".MainActivity" android:label="ضوء مضاء - مصباح يدوي كشاف" android:exported="true"/>
    <!-- 힌디어 -->
    <activity-alias android:name=".AliasHindi" android:targetActivity=".MainActivity" android:label="टॉर्च" android:exported="true"/>
    <!-- 포르투갈어 -->
    <activity-alias android:name=".AliasPortuguese" android:targetActivity=".MainActivity" android:label="Luz acesa - Lanterna" android:exported="true"/>
    <activity-alias android:name=".AliasVietnamese" android:targetActivity=".MainActivity" android:label="Bật đèn - Đèn pin" android:exported="true"/>
    <activity-alias android:name=".AliasItalian" android:targetActivity=".MainActivity" android:label="Luce accesa - Torcia elettrica" android:exported="true"/>
    <activity-alias android:name=".AliasIndonesian" android:targetActivity=".MainActivity" android:label="Lampu menyala - Senter" android:exported="true"/>
    <activity-alias android:name=".AliasThai" android:targetActivity=".MainActivity" android:label="ไฟเปิด - ไฟฉาย" android:exported="true"/>
    <activity-alias android:name=".AliasTurkish" android:targetActivity=".MainActivity" android:label="Işık Açık - El Feneri" android:exported="true"/>
    <activity-alias android:name=".AliasPolish" android:targetActivity=".MainActivity" android:label="Światło włączone - latarka" android:exported="true"/>
    <!-- End of localization support -->
  </application>
</manifest>